<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>

  {% if site.gitlab.repository_url %}
  <ul>
    <li><a href="{{site.gitlab.repository_url}}/blob/staging/{{ page.path }}"><i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> Edit this page on GitLab</a></li>
  </ul>
  {% endif %}
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
  
{% if jekyll.environment == "production" %}
This is the recognised web site for the Kingdom of Drachenwald in the Society for Creative Anachronism.
{% else %}
THIS IS A TEST WEBSITE. <a href="http://www.drachenwald.sca.org/">Visit the offical website.</a>
{% endif %}
Copyright on all content and images remains with the creators.  
{{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
<!-- {{ page.path }} -->