---
title: Dyeing Judging Criteria
---

<p>This category is for the coloring of fiber or fiber products (thread, cloth, etc) for spinning, weaving, sewing, etc. Dyeing of non-fiber products (ex leather) should be entered in MATERIAL PREPARATION. Entries in this category should be in an uncrafted stage (Ex. fleece, a skein of yarn; a piece of unsewn cloth) UNLESS the dyeing was done on an already crafted product. The entry should be appropriate for some use; swatch samples are not sufficient. Multiple pieces for the same dye batch may be entered to show quantity or to demonstrate a series of color variations. Entrant should note fiber and dye process used.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, identification of fiber, dye process, references (bibilography)<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the project, and their appropriateness to each other<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10, then DOUBLE THE SCORE] Consider dye, mordant, fiber/fabric, process<br />
• 0:Blatantly modern in some aspect; Ex. Rit dye, mordant, fiber/fabric, process<br />
• 1:Generally period, with some obviously modern elements (Ex. fabric was obviously machine made, etc.) OR obvious mixture of materials , techniques or pattern from radically different cultures or periods.<br />
• 2-3: Period product or process with inconsistencies (Ex. shortcuts in methods/materials producing period equivalent)<br />
• 4-5:Period product or process; color, fiber, methods all appropriate to period, to each other and to intended use, with few/minor inconsistencies.<br />
• 6-7:Period product OR process; color, fiber, methods all appropriate to period, to each other and to intended use, with no inconsistencies<br />
• 8-9:Period product AND process with no inconsistencies; color, fiber, methods, etc. all appropriate to period, to each other and to intended use.<br />
• 10:Special effort to achieve a completely period product by use of materials and process start to finish, without modern shortcuts. (Ex. uses handspun yarn, made dye and mordant from scratch, dyed over an open fire, etc.)</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, NOT the workmanship, based on the following:<br />
• Difficulty of dye and mordant preparation methods used (consider number of colors, number of steps in dye-making process, etc).<br />
• Difficulty and variety of dyeing process(es) used. NOTE: High points should be given in multi-step process (top dyeing, pattern-dyeing, period batik).<br />
• Difficulty and variety of fiber/fabric preparation methods (shearing, scouring, combing, spinning, bleaching, etc).<br />
• Scope of the endeavor (amount of product, etc)<br />
• Amount of time involved including research and/or material preparation.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Choice of dye and mordant preparation methods (consider number of colors, number of steps in dye-making process)<br />
• Form (Is dyeing of desired uniformity? Is color of desired strength and hue?)<br />
• Function and durability (Did the material survive the dyeing in good shape? Will dyeing stand up to intended use?)</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>